@use "/src/style/base/vars" as *;

.actor-home-slider {
    display: flex;
    align-items: center;
    gap: 12px;
    &__name {
        font-weight: 500;
        font-size: 14px;
        text-align: right;
        color: var(--c-white);
    }
    &__image {
        border-radius: 4px;
        width: clamp(32px, 3vw, 42px);
        aspect-ratio: 42 / 60;
        position: relative;
        img {
            object-fit: cover;
        }
        &::after {
            content: "";
            position: absolute;
            background-color: rgba(13, 13, 13, 0.12);
            inset: 0;
        }
    }
}