@use "/src/style/base/vars" as *;
@use "/src/style/base/mixins" as *;

.nav-item {
    display: inline-flex;
    span {
        font-size: $fs-lg;
        color: var(--c-icon-nav);
        background: var(--c-bg-icon-nav);
        @include flex-center;
        width: 44px;
        height: 44px;
        border-radius: $radius-full;
    }
    a {
        display: flex;
        align-items: center;
        gap: $gutter-xs;
        color: var(--c-white);
    }
}