@font-face {
    font-family: 'Gilroy';
    src: url('/src/assets/fonts/Gilroy-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}


@font-face {
    font-family: 'Gilroy';
    src: url('/src/assets/fonts/Gilroy-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/src/assets/fonts/Gilroy-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/src/assets/fonts/Gilroy-Semibold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/src/assets/fonts/Gilroy-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

