@font-face {
    font-family: 'Gilroy';
    src: url('/src/assets/fonts/Gilroy-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}


@font-face {
    font-family: 'Gilroy';
    src: url('/src/assets/fonts/Gilroy-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/src/assets/fonts/Gilroy-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/src/assets/fonts/Gilroy-Semibold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/src/assets/fonts/Gilroy-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'icomoon';
    src: url('/src/assets/fonts/icomoon.woff2') format('woff2'),
    url('/src/assets/fonts/icomoon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon', serif !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
    content: "\e900";
}
.icon-movies:before {
    content: "\e901";
}
.icon-play:before {
    content: "\e902";
}
.icon-search:before {
    content: "\e903";
}
.icon-series:before {
    content: "\e904";
}
.icon-settings:before {
    content: "\e905";
}
.icon-star:before {
    content: "\e906";
}
.icon-time:before {
    content: "\e907";
}
.icon-trending:before {
    content: "\e908";
}
.icon-arrow:before {
    content: "\e909";
}
.icon-author:before {
    content: "\e90a";
}
.icon-coming:before {
    content: "\e90b";
}
.icon-faq:before {
    content: "\e90c";
}
.icon-favorite:before {
    content: "\e90d";
}
.icon-actor:before {
    content: "\e90e";
}

