:root {
    --c-bg-main: linear-gradient(140deg, #191b23 0%, #142a3c 100%);
    --c-bg-nav: #16252E;
    --c-white: #E9E2E2;
    --c-bg-icon-nav: #535771;
    --c-icon-nav: #5B9FF4;
    --c-bg-searching: #17292E;
    --c-bg-icon-searching: #0B2127;
    --c-icon-slider: #777D7E;
    --c-bg-detail-slide: rgba(44, 48, 50, 0.5);
    --c-bg-overlay-slider: rgba(25, 26, 27, 0.45);
    --c-bg-overlay-upcoming: rgba(25, 26, 27, 0.22);
}

$fontFamily: 'Gilroy', sans-serif;

// Typography
$fs-2xs: clamp(0.625rem, 1.2vw, 0.75rem); // 10 - 12px
$fs-xs: clamp(0.75rem, 1.2vw, 0.875rem); // 12 - 14px
$fs-sm: clamp(0.875rem, 1.4vw, 1rem); // 14 - 16px
$fs-md: clamp(1.25rem, 2.2vw, 1.375rem); // 20 - 22px
$fs-lg: clamp(1.375rem, 2.4vw, 1.5rem); // 22 - 24px
$fs-xl: clamp(1.5rem, 2vw, 1.875rem); // 24 - 30px (heading)
$fs-2xl: clamp(2rem, 3.2vw, 2.5rem); // 32 - 40px (movie title)

// Border-radius
$radius-xs: 0.25rem; // 4px
$radius-sm: clamp(0.375rem, .5vw, 0.5rem); // 6 - 8px
$radius-md: clamp(0.625rem, .7vw, 0.75rem); // 10 - 12px
$radius-lg: clamp(1.25rem, 1.5vw, 1.5rem); // 20 - 24px
$radius-xl: clamp(2rem, 3vw, 2.5rem); // 32 - 40px
$radius-full: 100%;

// Gap
$gutter-2xs: 0.375rem; // 6px
$gutter-xs: clamp(0.625rem, 2vw, 0.75rem); // 10 - 12px
$gutter-md: clamp(0.875rem, 2.2vw, 1rem); // 14 - 16px
$gutter-lg: clamp(1.125rem, 3vw, 1.25rem); // 18 - 20px
$gutter-xl: clamp(1.5rem, 4vw, 1.875rem); // 24 - 30px

// Breakpoints
$laptopL: 1440px;
$laptopM: 1200px;
$laptop: 1024px;
$tablet: 768px;
$tabletS: 576px;
$mobileL: 425px;
$mobileM: 375px;
$mobileS: 320px;