@use "/src/style/base/vars" as *;

.news-home-card {
    display: flex;
    flex-direction: column;
    gap: $gutter-md;
    &__image {
        width: 100%;
        position: relative;
        aspect-ratio: 432 / 264;
        img {
            border-radius: $radius-lg;
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__content {
        line-height: 160%;
        color: var(--c-white);
    }
    &__title {
        font-weight: 700;
        font-size: $fs-sm;
        margin-bottom: .3rem;
    }
    &__description {
        font-size: $fs-2xs;
    }
}