@use "/src/style/base/vars" as *;
@use "/src/style/base/mixins" as *;

.movie-card {
    position: relative;
    padding: 30px 26px;
    width: 100%;
    aspect-ratio: 798 / 538;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr auto;
    &__img {
        object-fit: cover;
        @include absolute-fill;
        z-index: -1;
        border-radius: $radius-xl;

    }
    &::after {
        content: "";
        @include absolute-fill;
        background-color: var(--c-bg-overlay-slider);
        z-index: -1;
        border-radius: $radius-xl;
    }
    &__content {
        grid-area: 3 / 1 / 4 / 2;
        margin-top: auto;
        display: flex;
        flex-direction: column;
        gap: $gutter-lg;
    }
    &__title {
        font-weight: 700;
        font-size: $fs-2xl;
        color: var(--c-white);
    }
    &__descr {
        font-weight: 400;
        font-size: $fs-sm;
        line-height: 160%;
        color: var(--c-white);
        max-width: 494px;
    }
    &__actions {
        ul {
            display: flex;
            gap: $gutter-xs;
        }
        a {
            width: 24px;
            height: 24px;
            border-radius: $radius-full;
            border: 1px solid var(--c-icon-slider);
            font-size: $fs-xs;
            @include flex-center;
            color: var(--c-icon-slider);
        }
    }
    &__details {
        grid-area: 1 / 1 / 2 / 2;
        display: flex;
        gap: $gutter-xs $gutter-md;
        flex-wrap: wrap;
    }
    &__actors {
        display: flex;
        flex-direction: column;
        gap: $gutter-md;
        grid-area: 1 / 2 / 4 / 3;
        align-self: center;
    }
}