@use "/src/style/base/null";
@use "/src/style/base/vars" as *;
@use "/src/style/base/font";
@use "/src/style/base/mixins";
@use "/src/style/ui/skeleton";

body {
    font-family: $fontFamily;
    background: var(--c-bg-main);
    background-attachment: fixed;
}

.disabled {
    pointer-events: none;
    user-select: none;
}

.app-main {
    display: grid;
    grid-template-columns: clamp(200px, 17vw, 324px) 1fr;
    min-height: 100vh;
    gap: clamp(1.25rem, 4.5vw, 5.625rem);
}