@use "/src/style/base/null";
@use "/src/style/base/vars" as *;
@use "/src/style/base/font";

body {
    font-family: $fontFamily;
    background: var(--c-bg-main);
    background-attachment: fixed;
}

.app-main {
    display: grid;
    grid-template-columns: clamp(200px, 17vw, 324px) 1fr;
    min-height: 100vh;
    gap: clamp(20px, 4.5vw, 90px);
}

.main-content {
    display: grid;
    grid-template-columns: 1fr clamp(280px, 30%, 472px);
    gap: clamp(30px, 4vw, 62px) clamp(16px, 2vw, 30px);
    padding: clamp(16px, 2vw, 30px) clamp(16px, 2vw, 30px) clamp(30px, 4vw, 66px) 0;
}

.home-slider {
    display: flex;
    flex-direction: column;
}

.news-wrapper {
    position: relative;
    min-height: 0;
}

.news {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
}

.upcoming {
    grid-column: 1 / 3;
}