@use "/src/style/base/null";
@use "/src/style/base/vars" as *;
@use "/src/style/base/font";

body {
    font-family: $fontFamily;
    background: var(--c-bg-main);
}

.app-main {
    display: grid;
    grid-template-columns: 324px 1fr;
    grid-template-rows: 100vh;
}