@use "/src/style/base/vars" as *;
@use "/src/style/base/mixins" as *;

.movie-card {
    position: relative;
    padding: 30px 26px;
    width: 100%;
    aspect-ratio: 798 / 538;
    display: grid;
    grid-template-columns: minmax(0, 1fr) 140px;
    grid-template-rows: auto 1fr auto;
    overflow: hidden;
    border-radius: $radius-xl;
    &__img {
        object-fit: cover;
        @include absolute-fill;
        z-index: -1;
    }
    &::after {
        content: "";
        @include absolute-fill;
        background-color: var(--c-bg-overlay-slider);
        z-index: -1;
        border-radius: $radius-xl;
    }
    &__content,
    &__details,
    &__actors {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: opacity 0.2s ease, visibility 0.2s ease;
    }
    &--active {
        .movie-card__content,
        .movie-card__details,
        .movie-card__actors {
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
            transition: opacity 0.4s ease 0.3s, visibility 0s ease 0.3s;
        }
    }
    &__content {
        grid-area: 3 / 1 / 4 / 2;
        align-self: end;
        display: flex;
        flex-direction: column;
        gap: $gutter-md;
    }
    &__title {
        font-weight: 700;
        font-size: $fs-2xl;
        color: var(--c-white);
        max-width: 90%;
    }
    &__descr {
        font-weight: 400;
        font-size: $fs-sm;
        line-height: 160%;
        color: var(--c-white);
        max-width: 520px;
        overflow-wrap: break-word;
    }
    &__actions {
        ul {
            display: flex;
            gap: $gutter-xs;
        }
        a {
            width: 24px;
            height: 24px;
            border-radius: $radius-full;
            border: 1px solid var(--c-icon-slider);
            font-size: $fs-xs;
            @include flex-center;
            color: var(--c-icon-slider);
        }
    }
    &__details {
        grid-area: 1 / 1 / 2 / 2;
        display: flex;
        gap: $gutter-xs $gutter-md;
        flex-wrap: wrap;
    }
    &__actors {
        display: flex;
        flex-direction: column;
        gap: $gutter-md;
        grid-area: 1 / 2 / 4 / 3;
        align-self: center;
        justify-self: end;
        &--skeleton {
            display: flex;
            align-items: center;
            gap: 10px;
            justify-content: flex-end;
        }
    }
}