@use "/src/style/base/vars" as *;
@use "/src/style/base/mixins" as *;

.upcoming-card {
    display: flex;
    flex-direction: column;
    gap: $gutter-xs;
    &__image {
        aspect-ratio: 272 / 200;
        width: 100%;
        position: relative;
        img {
            border-radius: $radius-lg;
            @include absolute-fill;
            object-fit: cover;
        }
        &::after {
            content: "";
            position: absolute;
            inset: 0;
            background-color: var(--c-bg-overlay-upcoming);
        }
    }
    &__title {
        font-weight: 700;
        font-size: $fs-sm;
        color: var(--c-white);
    }
    &__date {
        display: flex;
        align-items: center;
        gap: $gutter-2xs;
        margin-top: auto;
        span {
            color: var(--c-icon-nav);
            font-size: $fs-lg;
        }
        font-weight: 300;
        font-size: $fs-2xs;
        color: var(--c-white);
    }
}